* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* color */
:root {
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bs-main-color: #fff;
  --bs-primary-color: #c6c6c6;
  --secondary-color: #29a9fd;
  --bs-supporting-color: #c850c0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lexend Deca", sans-serif;
  color: var(--bs-dark-color);
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bs-dark-color);
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  font-size: 1.15rem !important;
  letter-spacing: 0.03rem;
  word-spacing: 0.1rem;
}

/* common classes */
.common-section {
  padding: 0 0 9rem 0;
}

.common-heading {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.01rem !important;
  text-transform: capitalize;
}

.common-title {
  margin-bottom: 4.2rem;
}

.bg-theme{
  color: var(--bs-supporting-color);
  font-weight: bold;
  background-image: none!important;
}

/* navbar style */
.nav-link {
  color: var(--bs-main-color);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

/* Hero section start */
.bg-main {
  height: 80vh;
  position: relative;
}

.hero-section .container {
  display: grid;
  place-content: center;
  height: inherit;
}

.text-light-grey {
  color: var(--bs-primary-color);
}

.bg-color {
  background-color: var(--bs-dark-primary);
}
.hero-video--section {
  width: 25rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.custom-shape-divider-bottom-1700046071 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700046071 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1700046071 .shape-fill {
  fill: #ffffff;
}
/* Hero section End */

/* Service-section start */

.services-section {
  padding: 6rem 0 3rem 0 !important;
}

.icon-span {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--secondary-color);
  color: var(--bs-main-color);
}

.card-box:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
/* Service-section end */

/*digital-section start */
.more-info-section {
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.7),
      rgba(22, 22, 22, 0.7)
    ),
    url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2.8rem 0;
  overflow: hidden;
}

.more-info-section .img-section {
  position: relative;
}
.more-info-section .img-section img {
  width: 80%;
}
/*digital-section end */

/* online mode section start */

.business-section {
  padding-top: 3rem;
}

/* online mode section end */

/* testimonial section start */
.carousel .card {
  background-color: #262631;
  color: var(--bs-main-color);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.carousel-inner .card p {
  color: var(--bs-main-color);
}

.carousel-inner .card:hover {
  background-color: var(--bs-main-color);
  color: var(--bs-dark-color);

  & p {
    color: var(--bs-dark-color);
  }
}

.fa-star {
  color: var(--bs-supporting-color);
}

.carousel-indicators {
  bottom: -20%;
}

.carousel-indicators [data-bs-target] {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--secondary-color);
}
/* testimonial section end */

/* expert pannel section start */
.text-grey{
  color: var(--bs-primary-color);
}

.text-light-grey{
  color: var(--bs-primary-color);
}

/* expert pannel section end */


/* contact-section start */
.contact-section{
  position: relative;
}
.custom-shape-divider-top-1700224260 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1700224260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1700224260 .shape-fill {
    fill: #FFFFFF;
}


.common-section .common-title{
  padding: 3.2rem;
}

.contact-section .form-section{
  width: 50%;
}
/* contact-section end */
/* footer-section start */

.main-footer-section{
  padding: 0 0 4rem 0;
  color: var(--bs-main-color);
}

.contact-div{
  background-color: #222;
}

.icon-div{
  width: 5rem;
  height: 5rem;

}
/* footer-section end */


/* media queries */
@media screen and (max-width: 998px) {
  

.navbar-toggler{
color: var(--bs-main-color);
background-color: var(--bs-main-color);
}

.carousel-indicators {
  bottom: -7%;
}
}